---
import BaseLayout from "../layouts/BaseLayout.astro";
import MediaCard from "../components/MediaCard.astro";
import { mediaItems } from "../content/media";
---

<BaseLayout title="Media & Services" sideBarActiveItemID="services">
  <div class="text-3xl font-bold mb-6">Talks, Articles & Courses</div>

  <div class="grid gap-4">
    {mediaItems.map((item) => (
      <MediaCard
        title={item.title}
        description={item.description}
        date={item.date}
        link={item.link}
        type={item.type}
      />
    ))}
  </div>
</BaseLayout>
