---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";


const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType = "website",
} = Astro.props;

const baseUrl = "https://loravaughn.com"; // Update if your domain changes
const ogImage = image 
  ? `${baseUrl}${image}` // e.g., image = "/blog-photos/LoraPowerTools.jpeg"
  : `${baseUrl}/og-default.jpg`;

const ogUrl = baseUrl + Astro.url.pathname;
---

<!doctype html>
<html lang="en" data-theme="synthwave">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    <meta name="description" content={description} />
  <meta name="author" content="Lora Vaughn" />

<!-- Open Graph -->
<meta property="og:type" content={ogType} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="og:url" content={ogUrl} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />

    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
